:root{
    --color-primary: #f1f1f1;
    --color-secondary: #2ecc71;
    --color-text: #333333;
}
body {
    background-color: var(--color-primary);
    color: var(--color-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

button {
    background-color: var(--color-secondary);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
input {
    padding: 10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

#infoPokemon {
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-size: 20px;
    background-color: #c5c1c1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
